<% if @unpublished_posts %>
  <div class="unpublished">
    <p>Unpublished Posts:</p>
    <ul>
    <% @unpublished_posts.each do |post| %>
      <li><%= link_to post.title, edit_post_path(post) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render @newest_post if @newest_post %>
<%= render partial: "older_post", collection: @older_posts %>
<%= will_paginate @posts, :previous_label => "< newer", :next_label => "older >", :page_links => false %>
<% if user_signed_in? %>
  <div class="admin new_link">
    <%= link_to 'New Post', new_post_path %>
  </div>
<% end %>
