<%= render @post %>

<% if user_signed_in? %>
  <div class="admin">
    <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete that? Like, really?'} %>
  </div>
<% end %>

<div class="comments">
  <h2>Comments</h2>
  <%= render @post.comments %>
  <h2>Write a Comment</h2>
  <%= render 'comments/form' %>
</div>

<script type="text/javascript" async data-pin-shape="round" data-pin-height="32" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
