<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @post.created_at %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Comment on Something in this Post</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %><br />
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %><br />
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back to List of Posts', posts_path %> | <%= link_to 'Edit Something on this Post', edit_post_path(@post) %>
