<!DOCTYPE html>
<html>
<head>
  <title>Thanks Champagne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path 'singlebubble.png' %>">
</head>
<body>
  <header>
    <h1><%= link_to 'Thanks Champagne', root_path %></h1>
  </header>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer>
    <p>Created by Brenda McIntosh</p>

    <p>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    </p>
  </footer>
  <script type="text/javascript" async data-pin-shape="round" data-pin-height="32" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
