<!DOCTYPE html>
<html>
<head>
  <title>Thanks Champagne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path 'singlebubble.png' %>">
</head>
<body>
  <header>
    <h1><%= link_to 'Thanks Champagne', root_path %></h1>
  </header>

  <%= yield %>

  <footer>
    <p>Created by Brenda McIntosh</p>
  </footer>
</body>
</html>
