<!DOCTYPE html>
<html>
<head>
  <title>ALL THE THINGS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path 'pinksquare.png' %>">
</head>
<body>
  <header>
    <h1 class="blog_title"><%= link_to_unless_current '<span>all</span><br>THE<br>THINGS'.html_safe, root_path %></h1>
  </header>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <div class="body">
    <div class="main">
      <%= yield %>
    </div>
    <div class="sidebar">
      <a href="http://brendamcintosh.com" class="about_link">
        <img src="<%= asset_path 'simon.JPG' %>" class="sidebar_image">
        <span class="about">about<br>me!</span>
        <img src="<%= asset_path 'arrowforblog.png' %>" class="sidebar_arrow">
      </a>
      <ul class="social_links">
        <li>
          <a href="https://github.com/brender" target="_blank"><span>GITHUB</span></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/pub/brenda-mcintosh/32/334/73b" target="_blank"><span>LINKEDIN</span></a>
        </li>
        <li>
          <a href="http://www.pinterest.com/brendermcintosh/" target="_blank"><span>PINTEREST</span></a>
        </li>    
      </ul>
    </div>
  </div>

  <footer>
    <p>Created by Brenda McIntosh</p>

    <p>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    </p>
  </footer>
</body>
</html>
